src/__pycache__/

src/trackFiles/*
!src/trackFiles/TrackFile.txt

src/setupFiles/*
!src/setupFiles/SetupFile.json

src/exportFiles/

src/utilities/*
!src/utilities/SimExportCompare.py
!src/utilities/TrackFileBuilder.py

docs/SwEng/
docs/WebSite/

TODO.md
